<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="customer" class="com.cgi.constructorambiguity.Customer">
        <constructor-arg value="AlmondOil"/>
        <constructor-arg value="12"/>
    </bean>
    
    <bean id="customer1" class="com.cgi.constructorambiguity.Customer">
        <constructor-arg value="180" type="int"/>
        <constructor-arg value="Rice" type="java.lang.String"/>
    </bean>
    
    <bean id="customer3" class="com.cgi.constructorambiguity.Customer">
        <constructor-arg value="180" type="int" index="0"/>
        <constructor-arg value="Rice" type="java.lang.String" index="1"/>
    </bean>
    
</beans>
