<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="summerFruit" class="com.cgi.fruits.Summer">
        <constructor-arg value="Mango"/>
        <constructor-arg value="true"/>
    </bean>
    
    <bean id="winterFruit" class="com.cgi.fruits.Winter">
        <constructor-arg value="Orange"/>
        <constructor-arg value="true"/>
    </bean>
    
    <bean id="rainyFruit" class="com.cgi.fruits.Rainy">
        <constructor-arg value="Pineapple"/>
        <constructor-arg value="true"/>
    </bean>
</beans>